mixin footer(footerMods)
  footer.footer(class=footerMods)
    .container
      .footer__top
        //- a.footer__link(href="#") Техническая поддержка
        //- a.footer__link(href="#", download) Политика РАНХиГС Санкт-Петербург в отношении обработки персональных данных
      p.footer__copy &copy;&nbsp;Footer
