//- Base
include ./base/header.pug

//- Utils
include ./utils/icon.pug
include ./utils/img.pug
include ./utils/picture.pug
include ./utils/section.pug
include ./utils/video.pug

//- Modals
//- include ./modals/modal-feedback.pug
//- include ./modals/modal-success.pug
//- include ./modals/modal-error.pug

//- Blocks
//- include ./blocks/site-search.pug

//- Mixins
//- include ./mixins/btn.pug
//- include ./mixins/custom-input.pug
//- include ./mixins/custom-select.pug
//- include ./mixins/breadcrumbs.pug
//- include ./mixins/pagination.pug
